@charset "utf-8";

html, input, select, textarea, button {
    font-family:'Noto Sans KR','맑은 고딕', 'Malgun Gothic', AppleGothic, '돋움', Dotum, sans-serif;
}

.wrapper {
    padding:30px 30px 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}